<div class="flex justify-between items-center mb-5 ms-6 rounded-lg">
	<form [formGroup]="miForm" (ngSubmit)="search()">
		<input type="text" class="rounded-lg md:w-96 py-2 mr-5" formControlName="nombre" placeholder="Buscar Personaje" />
		<button
			type="submit"
			class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
		>
			Buscar
		</button>
	</form>
</div>
@if (carga) {
<app-spinner />
} @else { @if (miForm.value.nombre.length === 0) {
<!-- Contenedor de tarjetas con scroll infinito -->
<div
	class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 mx-6"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	(scrolled)="onScroll()"
>
	@for (personaje of personajes; track personaje.id) {
	<app-tarjeta-personaje [personaje]="personaje" />
	} @empty {
	<h2 class="text-4xl mt-16 mb-28">Upsss, no hemos encontrado ningún personaje con tu búsqueda</h2>
	}
</div>

<div class="fixed right-10 bottom-5">
	<button (click)="up()">
		<i class="icon-[humbleicons--arrow-up] pl-32 text-3xl"></i>
	</button>
</div>

} @else {
<!-- Contenedor de tarjetas de búsqueda -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 mx-6">
	@for (personaje of personajes; track personaje.id) {
	<app-tarjeta-personaje [personaje]="personaje" />
	} @empty {
	<h2 class="text-4xl mt-16 mb-28">Upsss, no hemos encontrado ningún personaje con tu búsqueda</h2>
	}
</div>
<div class="flex justify-end mr-5 mt-5">
	<button
		class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
		[routerLink]="['/listado']"
	>
		Volver atrás
	</button>
</div>
} }
