<!-- TODO: intentar footer abajo bien -->
@if (carga) {
<app-spinner />
} @else {
<div class="flex justify-between items-center mb-5 ms-6 rounded-lg">
	<input
		type="text"
		class="rounded-lg md:w-96 py-2"
		[(ngModel)]="searchText"
		placeholder="Buscar Personaje"
		aria-label="Search"
		aria-describedby="search-addon"
	/>
</div>
<div
	class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mx-6"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	(scrolled)="onScroll()"
>
	@if (searchText.length > 0) { @for (personaje of allPersonajes | filter: searchText; track personaje.id) {
	<app-tarjeta-personaje [personaje]="personaje" />
	} @empty {
	<h2 class="text-4xl mt-16 mb-28">Upsss, no hemos encontrado ningún personaje con tu búsqueda</h2>
	} } @else { @for (personaje of personajes; track personaje.id) {
	<app-tarjeta-personaje [personaje]="personaje" />
	} @empty {
	<h2 class="text-4xl mt-16 mb-28">Upsss, no hemos encontrado ningún personaje con tu búsqueda</h2>
	} }
</div>

<div class="flex justify-end mt-8">
	<button (click)="up()">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="icon icon-tabler icon-tabler-arrow-big-up-lines-filled"
			width="44"
			height="44"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="#ffffff"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none" />
			<path
				d="M10.586 3l-6.586 6.586a2 2 0 0 0 -.434 2.18l.068 .145a2 2 0 0 0 1.78 1.089h2.586v2a1 1 0 0 0 1 1h6l.117 -.007a1 1 0 0 0 .883 -.993l-.001 -2h2.587a2 2 0 0 0 1.414 -3.414l-6.586 -6.586a2 2 0 0 0 -2.828 0z"
				stroke-width="0"
				fill="currentColor"
			/>
			<path
				d="M15 20a1 1 0 0 1 .117 1.993l-.117 .007h-6a1 1 0 0 1 -.117 -1.993l.117 -.007h6z"
				stroke-width="0"
				fill="currentColor"
			/>
			<path
				d="M15 17a1 1 0 0 1 .117 1.993l-.117 .007h-6a1 1 0 0 1 -.117 -1.993l.117 -.007h6z"
				stroke-width="0"
				fill="currentColor"
			/>
		</svg>
	</button>
</div>

}
