<div class="max-w-sm bg-white hover:bg-slate-100 border border-gray-200 rounded-lg shadow h-full relative">
	<a [routerLink]="['/personaje/', personaje.id]">
		<div class="overflow-hidden rounded-t-lg">
			<img
				class="rounded-t-lg min-h-72 max-h-72 w-full hover:transform hover:scale-110 transition-all ease-in duration-75"
				[src]="personaje.thumbnail.path + '.' + personaje.thumbnail.extension"
				alt=""
			/>
		</div>
	</a>
	<div class="p-5">
		<a [routerLink]="['/personaje/', personaje.id]">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ personaje.name }}</h5>
		</a>
		<div class="mb-12 pb-5">
			@if (personaje.description.length === 0) {
			<p class="text-gray-700 font-normal">No existe descripción</p>
			} @else {
			<p class="text-gray-700 font-normal">{{ personaje.description }}</p>
			}
		</div>
		<div class="absolute bottom-0 mb-6">
			<button
				[routerLink]="['/personaje/', personaje.id]"
				class="inline-flex items-center px-3 py-2 text-sm md:text-lg font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none"
			>
				Ver más...
			</button>
		</div>
	</div>
</div>
